
@{
    Layout = null;
}



@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <table>
        <tr>
            <td>
                <p>Username</p>
            </td>
            <td>
                <input type="text" id="txtUserName" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Email</p>
            </td>
            <td>
                <input type="email" id="txtEmail" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Gender</p>
            </td>
            <td>
                <input type="radio" name="txtGender" value="Male" /> Male &nbsp;&nbsp;&nbsp;
                <input type="radio" name="txtGender" value="Female" /> Female &nbsp;&nbsp;&nbsp;
                <input type="radio" name="txtGender" value="Other" /> Other &nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <p>Password</p>
            </td>
            <td>
                <input type="password" id="txtPassword" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" value="Register" id="btnRegister" onclick="Register()" class="btn btn-default">Register</button>
            </td>
        </tr>
    </table>*@
<link href="~/Scripts/main.css" rel="stylesheet" />
<script src="~/Scripts/main.js"></script>
<!DOCTYPE html>

<html lang="en">

<head>

    <title>Register - Tourago</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <link href="assets/img/favicon.png" rel="icon">

    <!-- CSS -->
    <link type="text/css" href="assets/css/main.css" rel="stylesheet">
    <!-- /CSS -->

</head>
<body>
    <!-- Modal Register -->
    <div class="modal fade" id="mdlRegister" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdlRegisterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mdlRegisterTitle">Register for Tourago</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" method="post" novalidate="" action="dashboard.html">

                        <hr>
                        <!-- Register -->
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="txtEmail3" class="form-label">Email<span class="text-danger">*</span></label>
                                    <input class="form-control form-control-lg shadow-sm" id="txtEmail3" name="email3" value="nakamoto@example.com" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Please enter Email.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="txtPassword3" class="form-label">Password<span class="text-danger">*</span></label>
                                    <input class="form-control form-control-lg shadow-sm" id="txtPassword3" name="password3" placeholder="" value="123456" type="password" required="">
                                    <div class="invalid-feedback">
                                        Please enter password.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="txtRetypePassword3" class="form-label">Retype password<span class="text-danger">*</span></label>
                                    <input class="form-control form-control-lg shadow-sm" id="txtRetypePassword3" name="retypepassword3" placeholder="" value="123456" type="password" required="">
                                    <div class="invalid-feedback">
                                        Please enter password.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="chckAgree3" required="" checked="">
                            <label class="form-check-label" for="chckAgree3"> I agree to <a href="#" class="hover">terms and policy<span class="text-danger">*</span></a>. </label>
                        </div>
                        <div class="mb-4">
                            <button class="btn btn-lg btn-primary w-50" id="btnSubmit3">
                                <i class="ti ti-user-plus"></i>
                                <span>Register</span>
                            </button>
                        </div>
                        <div class="fw-bold-1">
                            Already have an account? <a href="Login.cshtml" data-bs-toggle="modal" data-bs-dismiss="modal">Login</a>
                        </div>
                        <!-- Register -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Register -->
    <!-- TITLE -->
    <section id="title" class="pt-4 mb-5">
        <!-- Title -->
        <div class="page-title">
            <div class="container">

                <!-- Heading -->
                <div class="heading">
                    <h1 class="title fs-1">Register</h1>
                </div>
                <!-- /Heading -->
            </div>
        </div>
        <!-- /Title -->
    </section>
    <!-- /TITLE -->
    <section id="login" class="section-mb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-4 col-lg-6 col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <!-- Heading -->
                            <div class="heading">
                                <center> <h2 class="title fs-4">TripAdvisor Registeration</h2></center>
                            </div>
                            <!-- /Heading -->
                            <hr>
                            <!-- Form Register -->
                            <form class="needs-validation" method="post" novalidate="" action="dashboard.html">


                                <!-- Register -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">Id<span class="text-danger">*</span></label>
                                            <input class="form-control form-control-lg shadow-sm" id="txtid" name="id" placeholder="" required="">
                                            <div class="invalid-feedback">
                                                Please enter Id.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">User Name<span class="text-danger">*</span></label>
                                            <input class="form-control form-control-lg shadow-sm" id="txtname" name="name" placeholder="" required="">
                                            <div class="invalid-feedback">
                                                Please enter User Name.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">Email<span class="text-danger">*</span></label>
                                            <input class="form-control form-control-lg shadow-sm" id="txtEmail" name="email" placeholder="" required="">
                                            <div class="invalid-feedback">
                                                Please enter Email.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtPassword4" class="form-label">Password<span class="text-danger">*</span></label>
                                            <input class="form-control form-control-lg shadow-sm" id="txtPassword" name="password" placeholder="" type="password" required="">
                                            <div class="invalid-feedback">
                                                Please enter password.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">Gender<span class="text-danger">*</span></label>
                                            <input type="radio" id="txtgender" name="gender" placeholder="" required="" value="male">Male
                                            <input type="radio" id="txtgender" name="gender" placeholder="" required="" value="female">Female
                                            <div class="invalid-feedback">
                                                Please enter Gender.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">Address<span class="text-danger">*</span></label>
                                            <input class="form-control form-control-lg shadow-sm" id="txtaddress" name="address" placeholder="" required="">
                                            <div class="invalid-feedback">
                                                Please enter Address.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">City<span class="text-danger">*</span></label>
                                            <select name="city" id="city" class="form-control form-control-lg shadow-sm">
                                                <option value="select">Select City</option>
                                                <option value="Surat">Surat</option>
                                                <option value="Ahemdabad">Ahemdabad</option>
                                                <option value="Surat">Surat</option>
                                                <option value="Vadodra">Vadodra</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please enter City.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">Mobile<span class="text-danger">*</span></label>
                                            <input type="number" class="form-control form-control-lg shadow-sm" id="txtmobile" name="mobile" placeholder="" required="">
                                            <div class="invalid-feedback">
                                                Please enter Mobile Number.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="txtEmail4" class="form-label">Image<span class="text-danger">*</span></label>
                                            <input class="form-control form-control-lg shadow-sm" id="txtimg" name="img" placeholder="" required="">
                                            <div class="invalid-feedback">
                                                Please enter Image.
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="chckAgree4" required="" checked="">
                                    <label class="form-check-label" for="chckAgree4"> I agree to <a href="#" class="hover">terms and policy<span class="text-danger">*</span></a>. </label>
                                </div>
                                <div class="mb-4">
                                    <button class="btn btn-lg btn-primary w-50" id="btnSubmit4">
                                        <i class="ti ti-user-plus"></i>
                                        <span>Register</span>
                                    </button>
                                </div>
                                <div class="fw-bold-1">
                                    Already have an account? <a href="Login.html">Login</a>
                                </div>
                                <!-- Register -->
                            </form>
                            <!-- Form Register -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <!-- /MAIN -->
    <!-- Go to top -->
    <a href="#" class="scroll-top"><i class="ti ti-chevron-up"></i></a>
    <!-- /Go to top -->
    <!-- JS -->

    <script>
        function Register() {
            var user = {
                c_username: $("#txtUserName").val(),
                c_email: $("#txtEmail").val(),
                c_gender: $("input[name='txtGender']:checked").val(),
                c_password: $("#txtPassword").val()
            }
            var settings = {
                "url": "http://localhost:58730/api/AuthApi/Register",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify(user)
            }
            $.ajax(settings).done(function (response) {
                alert("Successfully Registered!");
                window.location = "/User/Login";
            });
        }
    </script>
