
@{
    Layout = null;
}



@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <table>
        <tr>
            <td>
                <p>Username</p>
            </td>
            <td>
                <input type="text" id="txtUserName" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Email</p>
            </td>
            <td>
                <input type="email" id="txtEmail" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Gender</p>
            </td>
            <td>
                <input type="radio" name="txtGender" value="Male" /> Male &nbsp;&nbsp;&nbsp;
                <input type="radio" name="txtGender" value="Female" /> Female &nbsp;&nbsp;&nbsp;
                <input type="radio" name="txtGender" value="Other" /> Other &nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <p>Password</p>
            </td>
            <td>
                <input type="password" id="txtPassword" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" value="Register" id="btnRegister" onclick="Register()" class="btn btn-default">Register</button>
            </td>
        </tr>
    </table>*@


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="~/Views/UserMVC/css/style.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/Views/UserMVC/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Views/UserMVC/css/style.css" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="~/Views/UserMVC/images/Logo.png">
    <title>Registration</title>
</head>
<body>


    <div class="d-lg-flex half ">
        <div class="bg order-1 order-md-2" style="background-image: url('~/Views/UserMVC/images/bg2.png');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">

                <div class="row align-items-center justify-content-center left-container ">

                    <div class="col-md-7">
                        <center> <img src="images/Logo.png" style="height: 200px; width: auto; padding-top: 5px; padding-bottom: 20px;" /></center>
                        <h3>Registration</h3>
                        <p class="mb-4">Once a year go somewhere you have never been before.</p>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" placeholder="Enter User Name" id="username">
                            </div>
                            <div class="form-group first">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" placeholder="your-email@gmail.com" id="username">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Your Password" id="password">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="gender">Gender</label>
                                <div>
                                    <input type="radio" name="txtGender" value="Male"> Male &nbsp;&nbsp;
                                    <input type="radio" name="txtGender" value="Female"> Female &nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="address">Address</label>
                                <textarea id="address" name="address" class="form-control" rows="4" cols="50"></textarea>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="txtEmail4" class="form-label">City<span class="text-danger">*</span></label>
                                <select name="city" id="city" class="form-control form-control-lg shadow-sm">
                                    <option value="select">Select City</option>
                                    <option value="Surat">Surat</option>
                                    <option value="Ahemdabad">Ahemdabad</option>
                                    <option value="Surat">Surat</option>
                                    <option value="Vadodra">Vadodra</option>
                                </select>
                            </div>




                            <div class="form-group last mb-3">
                                <label for="txtEmail4" class="form-label">Mobile<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="txtmobile" name="mobile" placeholder="" required="">

                            </div>


                            <div class="form-group last mb-3">
                                <label for="txtEmail4" class="form-label">Image<span class="text-danger">*</span></label>
                                <input type="file" id="txtimg" name="img" placeholder="" required="">

                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0">
                                    <span class="caption">Remember me</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>

                            </div>

                            <input type="submit" value="Registration" class="btn btn-block btn-primary">
                            <div class="text-center mt-4">
                                <p>Click here to <a href="/index.html">Login</a></p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="@Url.Content("js/main.js")"></script>
    <script src="~/Views/UserMVC/js/jquery-3.3.1.min.js"></script>
    <script src="~/Views/UserMVC/js/bootstrap.min.js"></script>
    
</body>
</html>

    <script>
        function Register() {
            var user = {
                c_username: $("#txtUserName").val(),
                c_email: $("#txtEmail").val(),
                c_gender: $("input[name='txtGender']:checked").val(),
                c_password: $("#txtPassword").val()
            }
            var settings = {
                "url": "http://localhost:58730/api/AuthApi/Register",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify(user)
            }
            $.ajax(settings).done(function (response) {
                alert("Successfully Registered!");
                window.location = "/User/Login";
            });
        }
    </script>
